<!DOCTYPE html>
<html>

<head>
    <title>방 만들기 테스트</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/acid_game.css')}}">
</head>

<body>

    <script type="module" src="{{url_for('static', filename = 'js/make_room.js')}}"></script>
    <div id="ready">
        <span id="link" style="color: white;">none
        </span>
        <button id="copy">복사하기</button>
        <button id="start-button-2">
            game start
        </button>
    </div>
    <div id="game-container" data-gametype="kr" style="display: none">
        <div id="info-panel">
            <span>내 목숨: <span id="lives">3</span></span>
            <span>상대 목숨: <span id="opponent-lives">3</span></span>
            <div class="close-btn">✕</div>
            </div>

        <div id="game-area">
            </div>

        <input type="text" id="word-input" placeholder="단어를 입력하세요" autocomplete="off">

        <div id="start-screen" class="overlay" stype= "display: none">
            <button id="start-button">Game Start</button>
            <div id="countdown"></div>
        </div>
        <div id="game-over-screen" class="overlay" style="display: none">
            <div class="window">
                <span class = "window-header"></span>
                <div class = "game-over-content-area">
                    <h1 class = "game-over-title">게임 오버!</h1>
                    <div > User : <span id="user-nickname"></span></div>
                    <div> 최종 점수 : <span id="final-score">0</span></div>
                    <div id = "new-high-score">!내 최고 기록 달성!</div>
                </div>
                <div class="game-over-button-area">
                    <button class="alert-button" id="main-page-button">메인페이지</button>
                    <button class="alert-button" id="restart-button">다시하기</button>
                    <button class="alert-button" id="ranking-button">랭킹 보러가기</button>
                </div>

            </div>
        </div>

</body>

</html>