<!DOCTYPE html>
<html>

<head>
    <title>join room</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <link rel="stylesheet" href="{{url_for('static', filename = 'css/acid_game.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">

</head>

<body>
    <div id="modal_MakeRoom" class="modal z-10" style="display: block;">
        <div class="flex flex-col items-center title-bar relative">
            <button id="outbutton" class="close-btn absolute top-1 right-2"
                onclick="window.location.href = '/';">X</button>
            <h2 class="text-4xl mb-4 font-bold mt-20 text-black">방 생성 중</h2>

            <button class="mt-4 alert-button" id="setting-button">설정하기</button>

            <div class="mt-4">
                <span class="text-black" id="room-link"></span>
            </div>

            <div class="mt-4">
                <button id="copyButton" class="copy-button">생성하기</button>
            </div>

            <div class="mt-4">
                <button id="MultiStart_Button" class="multistart-button hidden">
                    게임 시작
                </button>
            </div>
        </div>
    </div>

    <!-- 설정 창 -->
    <div id="setting-screen" class="overlay z-20 hidden">
        <div class="window">
            <span class="window-header"></span>
            <div class="game-over-content-area">
                <h1 class="game-over-title">설정창</h1>
                <div class="flex items-center mb-4">
                    <input id="is-attack-on" type="checkbox" value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium text-black">
                        공격 모드</label>
                </div>
            </div>
            <div class="game-over-button-area">
                <button class="alert-button" id="confirm-setting">확인</button>
                <button class="alert-button" id="deni-setting">취소</button>
            </div>

        </div>
    </div>


    <div id="modal_JoinRoom" class="modal" style="display: none;">
        <div class="flex flex-col items-center title-bar">
            <button id="outbutton" class="close-btn absolute top-1 right-2"
                onclick="window.location.href = '/';">X</button>
            <h2 class="text-4xl mb-4 font-bold mt-20 text-black">방 참여하기</h2>
            <div class="loading-container flex hidden " id="loading-indicator">
                방에 참가하는 중...
                <div role="status">
                    <svg aria-hidden="true"
                        class="w-6 h-6 ml-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="flex space-x-4 items-center justify-center">
                <div class="mt-10">
                    <input id="roomCodeInput" type="text" placeholder="방코드 입력"
                        class="bg-white text-black rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-green-500 shadow-md"
                        style="font-family: 'Pretendard-Regular'" value="{{link}}" />
                    <button id="join-Button" class="join-button">
                        참여하기
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="game-container" data-membertype="{{membertype}}" data-gametype="{{gametype}}" data-roomlink="{{link}}"
        style="display: none;">
        <div id="info-panel">
            <span>내 목숨: <span id="lives">3</span> <span>&#40;cpm: <span id="my-cpm">0</span>&#41;</span></span>
            <span>상대 목숨: <span id="opponent-lives">3</span> <span>&#40;cpm: <span id="other-cpm">0</span>&#41;</span></span>
            <div class="close-btn">✕</div>
        </div>

        <div id="game-area">
        </div>

        <input type="text" id="word-input" placeholder="단어를 입력하세요" autocomplete="off">

        <div id="start-screen" class="overlay" stype="display: none">
            <div id="countdown"></div>
        </div>
        <div id="game-over-screen" class="overlay" style="display: none">
            <div class="window">
                <span class="window-header"></span>
                <div class="game-over-content-area">
                    <h1 class="game-over-title">게임 오버!</h1>
                    <div> 내 점수 : <span id="user-score"></span></div>
                    <div> 상대 점수 : <span id="opponent-score"></span></div>
                    <div> 승부 결과 : <span id="result">0</span></div>
                    <div id="new-high-score">!내 최고 기록 달성!</div>
                </div>
                <div class="game-over-button-area">
                    <button class="alert-button" id="main-page-button">메인페이지</button>
                    <button class="alert-button" id="restart-button">다시하기</button>
                </div>

            </div>
        </div>
        <script type="module" src="{{url_for('static', filename = 'js/multi.js')}}"></script>
</body>

</html>