<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom Fonts -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/font.css') }}"
    />

    <!-- Custom Styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script
      type="module"
      src="{{url_for('static', filename = 'js/main.js')}}"
    ></script>
  </head>

  <body
    class="h-screen flex flex-col items-center justify-center relative text-white"
  >
    
    <div id="modal_MakeRoom" class="modal">
      <div class="flex flex-col items-center title-bar">
        <button
          id="closeButton"
          class="close-btn absolute top-1 right-2"
          onclick="closeMakeRoomModal()"
        >
          X
        </button>

        <h2 class="text-4xl mb-4 font-bold mt-20 text-black">방 생성하기</h2>
        <div class="flex space-x-4 items-center justify-center">
          
          <div class="mt-7">
            <span class="text-black">여기에 서버에서 날라온 게임 코드 있어야함</span>
            <button id="copyButton" class="copy-button">복사하기</button>
          </div>
          <div class="'mt-4">
            <button
              id="MultiStart_Button"
              class="multistart-button ml-4"
              onclick=""
            >
              게임 시작
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
