<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SQUALL - SIGN IN</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="/static/js/sdk/auth.js"></script>
    <link rel="stylesheet" href="../../static/css/font.css" />
    <link rel="stylesheet" href="../../static/css/xp_style.css" />

    <link />
  </head>

  <body>
    <div class="window">
      <div class="window-header">
        <span>SQUALL - SIGN IN</span>
        <div class="close-btn" onclick="window.close()">✕</div>
      </div>

      <div class="window-body">
        <h1
          class="title"
        >
          SQUALL
        </h1>
        <form id="login_form" class="space-y-6" action="">
          <div>
            <label
              for="user_id"
              class="block text-xl font-medium text-gray-900 mb-2" style="font-family: Ycomputer-Regular;"
              >ID :</label
            >
            <input
              required
              minlength="1"
              type="text"
              id="user_id"
              name="user_id"
              placeholder="아이디를 입력해주세요"
              class="w-full px-6 py-4 rounded-2xl bg-gray-100 focus:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400 text-lg"style="font-family:Pretendard-Regular"
            />
          </div>

          <div>
            <label
              for="password"
              class="block text-xl font-medium text-gray-900 mb-2"style="font-family:Ycomputer-Regular"
              >PW :</label
            >
            <input
              required
              minlength="1"
              type="password"
              id="password"
              name="password"
              placeholder="비밀번호를 입력해주세요"
              class="w-full px-6 py-4 rounded-2xl bg-gray-100 focus:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400 text-lg"style="font-family:Pretendard-Regular"
            
            />
          </div>

          <div
            class="flex flex-col sm:flex-row gap-y-2 items-center justify-between mt-8 space-y-4 sm:space-y-0"
          >
            <button id="sign_in_btn" class="xp-button">로그인</button>
            <a
              href="/auth/sign_up"
              id="sign_up"
              class="xp-button"
            >
              회원가입
            </a>
          </div>
        </form>
      </div>
    </div>

    <script>
      document
        .getElementById("sign_in_btn")
        ?.addEventListener("click", async (e) => {
          e.preventDefault();
          const formDiv = document.getElementById("login_form");
          const formData = new FormData(formDiv);
          const id = formData.get("user_id");
          const password = formData.get("password");
          if (id === "" || password === "") return;
          const res = await AuthHelper.sign_in(id, password);
          if (res.error) alert(res.error);
          else alert("로그인 성공");
        });
        document.getElementById("sign_in_btn")?.addEventListener("click", async function (e){
            const formDiv = document.getElementById("login_form")
            const formData = new FormData(formDiv);
            const id = formData.get("user_id");
            const password = formData.get("password");
            if(id === "" || password === ""){
                return;
            }
            if (!this.reportValidity()) {
              e.preventDefault();
              return;
            }
            e.preventDefault();
            const res = await AuthHelper.sign_in(id, password)
            if(res.error){
                alert(res.error)
            }
            else{
                alert("로그인 성공")
            }
        })
    </script>
  </body>
</html>
